<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgut.ssm.dao.ContractDao">


    <!-- public List<Contract> getAllContract();-->
    <select id="getAllContract" resultType="com.dgut.ssm.bean.Contract" resultMap="Contract_phone">
        select contract.id, c.phone cphone, s.phone sphone, signdate, status
        from test_rightcontrol.contract contract,
             test_rightcontrol.client c,
             test_rightcontrol.staff s
        where sid = s.id
          and cid = c.id
    </select>
    <resultMap id="Contract_phone" type="com.dgut.ssm.bean.Contract">
        <result property="id" column="id"/>
        <result property="signdate" column="signdate"/>
        <result property="status" column="status"/>
        <association property="client" javaType="com.dgut.ssm.bean.Client">
            <result column="cphone" property="phone"/>
        </association>
        <association property="staff" javaType="com.dgut.ssm.bean.Staff">
            <result column="sphone" property="phone"/>
        </association>
    </resultMap>
    <!-- <select id="getAllContract" resultMap="ContractBean">
         select con.id                    conId,
                sid,
                cid,
                con.status                conStatus,
                signdate,
                goods_orders_merge.amount goAmount,
                goods.goods_name          gName,
                goods.price               gPrice,
                orders.id                 oId
         from test_rightcontrol.contract con
            , test_rightcontrol.orders
            , test_rightcontrol.goods_orders_merge
            , test_rightcontrol.goods
         where orders.contractId = con.id
           and orders.id = goods_orders_merge.oid
           and goods_orders_merge.gid = goods.id
     </select>
     <resultMap id="ContractBean" type="com.dgut.ssm.bean.Contract">
         <result property="id" column="conId"/>
         <result property="status" column="conStatus"/>
         <result property="signdate" column="signdate"/>
         <association property="staff" javaType="com.dgut.ssm.bean.Staff" select="com.dgut.ssm.dao.StaffDao.getStaffById"
                      column="sid">
         </association>
         <association property="client" javaType="com.dgut.ssm.bean.Client"
                      select="com.dgut.ssm.dao.ClientDao.getClientById" column="cid">
         </association>
         <collection property="orders" ofType="com.dgut.ssm.bean.Orders" >
             <result property="id" column="oId"/>
             <collection property="goods" ofType="com.dgut.ssm.bean.Goods" select="com.dgut.ssm.dao.GoodsDao.getGoodsByOrderId" column="oId">

             </collection>

         </collection>
     </resultMap>-->

    <!--    public void ChangeStatus();-->
    <update id="ChangeStatus">
        update test_rightcontrol.contract
        set status=#{status}
        where id = #{contractId}
    </update>
    <!--    public int InsertContract(Contract contract);-->
    <insert id="InsertContract" parameterMap="ContractFromJson">
        insert into test_rightcontrol.contract
        values (#{id}, #{staff.id}, #{client.id}, #{status}, #{signdate})
    </insert>
    <parameterMap id="ContractFromJson" type="com.dgut.ssm.bean.Contract">
        <parameter property="id"/>
        <parameter property="staff.id"/>
        <parameter property="client.id"/>
        <parameter property="status"/>
        <parameter property="signdate"/>
    </parameterMap>

    <!--public List<Contract> queryContractCondition(Map map);  -->
    <select id="queryContractCondition" resultType="com.dgut.ssm.bean.Contract" parameterType="Map" resultMap="Contract_phone">
        select contract.id,c.phone cphone,s.phone sphone,signdate,status from test_rightcontrol.contract
        contract,test_rightcontrol.client c,test_rightcontrol.staff s
        <trim prefix="where" prefixOverrides="and">
            <if test="1">
                and contract.sid=s.id
            </if>
            <if test="1">
                and contract.cid=c.id
            </if>
            <if test="id!=null">
                and contract.id=#{id}
            </if>
            <if test="status!=null ">
                and status=#{status}
            </if>
            <if test="cphone!=null and cphone.trim()!=''">
                and c.phone like concat ('%',#{cphone},'%')
            </if>
            <if test="sphone!=null and sphone.trim()!=''">
                and s.phone like concat('%',#{sphone},'%')
            </if>
            <if test="signdate!=null and signdate.trim()!=''">
                and signdate=#{signdate}
            </if>
        </trim>

    </select>

<!--    public Integer sumAllGoods();-->
    <select id="sumAllGoods" resultType="int">
        select count(gom.id) from test_rightcontrol.goods_orders_merge gom,test_rightcontrol.goods g,test_rightcontrol.orders o
        where gom.oid =o.id and o.contractId=#{cid} and gom.gid=g.id
    </select>

    <!--public  Integer updateBaseInfo(Map map);-->
    <update id="updateBaseInfo"  parameterType="Map">
        update test_rightcontrol.contract set cid=#{cid},sid=#{sid}
             ,signdate=#{signdate},status=0  where id=#{id}
    </update>


</mapper>

