<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgut.ssm.dao.OrderDao">
    <!--public List<Orders> getOrderByContractId(int id);-->
    <select id="getOrderByContractId" resultMap="OrdersMap">
        select o.id oid,contractId ,g.id goodid,g.price,g.goods_name,gom.amount gomAmount
        from test_rightcontrol.orders o,test_rightcontrol.goods_orders_merge gom,
             test_rightcontrol.goods g
        where contractId=#{id} and gom.oid=o.id and gom.gid =g.id
    </select>
    <resultMap id="OrdersMap" type="com.dgut.ssm.bean.Orders">
        <result property="id" column="oid"/>
        <collection property="goods" ofType="com.dgut.ssm.bean.Goods" >
            <result property="id" column="goodid"/>
            <result property="price" column="price"/>
            <result property="goodsName" column="goods_name"/>
            <result property="amount" column="gomAmount"/>
        </collection>
    </resultMap>
</mapper>

